# ======================
# Node / Bun
# ======================
node_modules/
out/
dist/
*.tgz

# ======================
# Coverage
# ======================
coverage/
*.lcov

# ======================
# Logs
# ======================
logs/
*.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# ======================
# Environment variables
# ======================
.env
.env.*
!.env.example
.env.development.local
.env.test.local
.env.production.local
.env.local

# ======================
# Caches
# ======================
.eslintcache
.cache/
*.tsbuildinfo

# ======================
# Python
# ======================
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.venv/
venv/
backend/venv/

# ======================
# IDE / OS
# ======================
.idea/
.DS_Store

# ======================
# PDF Generation
# ======================
backend/tmp/*.pdf

# Hardhat
hardhat/cache/
hardhat/artifacts


# Temporary files
backend/create_test_users.py
backend/init_db.py